body {
    background-color: black;
    font-size: 20px;
    font-weight: 700;
}

form {
    text-align: center;
}


/* todoForm.css */

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.to_do_form {
    width: 50%;
}

.input_form {
    display: flex;
    justify-content: center;
}

.task-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.task-input:focus {
    border-color: #4caf50;
}

.add-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
}

div .filter-buttons {
    margin-top: 10px;
}

div.filter-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.filter-buttons button:hover {
    background-color: #008CBA;
    color: white;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    box-shadow: 5px 2px 18px -3px #ffca00;
    padding: 10px;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.task-list li:hover {
    box-shadow: 0 4px 8px rgb(128 127 127 / 85%)
}

.task-list li>span {
    flex: 1;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #008CBA;
}

.task-list li>span:hover {
    color: #4caf50;
}

.task-list li>button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
}

.task-list li>button:hover {
    background-color: #f44336;
    color: white;
}

.updata_list {
    flex: 1 1;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}